<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="applytheme.example.vaidu.demoblood4life">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MemberLoginActivity" />
        <activity android:name=".MemberRegisterActivity" />
        <activity android:name=".MemberAreaActivity" />
        <activity android:name=".SearchForAllActivity" />
        <activity android:name=".AddNewBloodDonor" />
        <activity
            android:name=".User_Donar_List"
            android:label="@string/title_activity_user__donar__list"
            android:parentActivityName=".SearchForAllActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="applytheme.example.vaidu.demoblood4life.SearchForAllActivity" />
        </activity>
    </application>

</manifest>